* {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('../font/webfont/webfont.eot'); /* IE9 */
    src: url('../font/webfont/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont/webfont.woff2') format('woff2'),
    url('../font/webfont/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font {
    font-family: "webfont" !important;
    font-size: 48px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'smileyfont';
    font-display: swap;
    src: url('../font/smileyfont/SmileySans-Oblique.eto'); /* IE9 */
    src: url('../font/smileyfont/SmileySans-Oblique.eto?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/smileyfont/SmileySans-Oblique.otf.woff2') format('woff2'),
    url('../font/smileyfont/SmileySans-Oblique.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/smileyfont/SmileySans-Oblique.otf') format('svg'); /* iOS 4.1- */
}
@media screen and (min-width:530px){
    .smiley-font {
        font-family: "smileyfont" !important;
        font-size: 60px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
@media screen and (max-width:530px){
    .smiley-font {
        font-family: "smileyfont" !important;
        font-size: 30px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}